.container {
    /*width: 100%;*/
}

.formContainer {
    width: 100%;
}

.searchBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 92%;
    height: 40px;

    background: white;
    border-radius: 10px;
}

.searchBlock input {
    width: 80%;
    margin: 10px;

    border: none;
    outline: none;
}

.searchBlock input::placeholder {
    font-size: 16px;
}

.searchBlock input:active {
    border: none;
}

.button {
    width: 83px;
    height: 32px;
    margin: 8px 12px 8px 0;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    color: #ffffff;

    background: #5e96fc;
    border: none;
    border-radius: 8px;

    transition: 0.3s;
}

.button:hover {
    background-color: #477cd3;
}

.button:active {
    color: #5e96fc;

    background-color: #ffffff;
    border: 1px solid #5e96fc;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin-top: 15px;

    }

    .formContainer {
        width: 100%;
    }

    .searchBlock {
        width: 100%;
        height: 40px;
    }

    .button {
        height: 90%;
    }
}