.container {
  display: flex;
  flex-direction: column;

  width: 734px;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;

  height: max-content;
  margin-top: 40px;

  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
}

.titleBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
}

.titleBlock p {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  /* identical to box height */

  /* Black */

  color: #232134;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 20px 0 20px 0;

  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
}

.vacancyText {
  margin: 24px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  /* identical to box height, or 100% */

  /* Black */

  color: #232134;
}

.vacancyText p {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;

  }
}